/* General Styles */
body {
    background-image: url("audiojpg.jpg");
    background-size: cover;
    color: gold;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    color: rgb(206, 240, 102);
    font-family: 'Georgia', serif;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}
/* Label Styles */
label {
    color: gold;
    font-weight: bold;
}

/* Input Styles */
input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid gold;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Button Styles */
input[type="submit"] {
    background-color: gold;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: darkgoldenrod;
}
